<h1>Editando ordem de serviço</h1>

<%= render 'form', order: @order %>

<div class="container d-flex align-itens center justify-content-center">
<%= link_to 'visualizar', @order, class:"btn" %> 
<%= link_to 'voltar', orders_path , class:"btn"%>

</div>