// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table{

.emAndamento{
    background-color: yellow !important;
    padding: 10px 20px !important;

    .teste{
        font-size: 50px !important;
    }
}

}



